<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="css/styles.css" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Module-9-hw</title>
</head>

<body>
	<div id="output"></div>
	<script type="test/lodash" id="testLodash">
		<div class="slideThree">
			<input type="checkbox" value="None" id="slideThree" name="check" checked />
			<label for="slideThree"></label>
			<span>Sound</span>
		</div>
        <div class="keyboard">
				<% keyboard.row.forEach(row => { %>
					<% let a = 0 %>
					<div class=keyboard__row>                    
						<% row.forEach (item => { %>
							<button class="keyboard__btn" data-note="<%- keyboard.notes[a] %>"><%- item %></button>
							<% a++; %>
							<% if (a == 7){
							a = 0};%>
						<% }); %>
					</div>
				<% }); %>
				<div class="keyboard__row">
					<button class="keyboard__btn keyboard__btn--space" data-note="do">space</button>
				</div>
			</div>      
		<h1>Была нажата клавиша: <span class="pressed"></span> </h1>
	</script>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/C.mp3" data-note="do"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/D.mp3" data-note="re"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/E.mp3" data-note="mi"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/F.mp3" data-note="fa"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/G.mp3" data-note="sol"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/A.mp3" data-note="la"></audio>
	<audio class="sonidos" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/742140/B.mp3" data-note="si"></audio>

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>